@import '../../../style/colors.css';

.btn-prev, .btn-next{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 50%;
  background-color: $secondColor;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 6;

  &:hover{
    background-color: #ff5722;
  }
}

.btn-next{
  right: 0;
  border-radius: 2px 0 0 2px;
}
.btn-prev{
  left: 0;
  border-radius: 0 2px 2px 0;
}

.btn-back{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(228, 228, 228);
  padding: 4px 10px;
  color: gray;
  border-radius: 4px;
  z-index: 101;
}

.show-comments{
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;

  .show-comments-chain{
    margin-bottom: 10px;

    .show-comments-comment{
      background-color: white;
      border-radius: 5px;
      padding: 10px 14px 1px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);

      &-text, &-author{
        word-wrap: break-word;
        overflow: auto;
      }
      &-replies{
        margin: 2px 0 0 15px;
      }
    }
  }
}

@media (min-width: 600px) {
  .show-comments{
    .show-comments-chain{
      .show-comments-comment{
        padding: 15px 30px 1px;
      }
      .show-comments-comment-replies{
        margin: 2px 0 0 20px;
      }
    }
  }
  .btn-prev, .btn-next{
    top: 50%;
    height: 100px;
    width: auto;
  }
  .btn-next{
    border-radius: 4px 0 0 4px;
  }
  .btn-prev{
    border-radius: 0 4px 4px 0;
  }
}
