.navbar{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  background-image: url(/style/imgs/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 55px;
  width: 140px;
}
