@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic';
/*--------------------------------------------*/
@import "./colors.css";
/*--------------------------------------------*/
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $bgColor;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.auth{
  text-align: center;
  margin-bottom: 60px;

  &-error{
    background-color: red;
    max-width: 450px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 6px;
    color: white;
  }
}

/*HEADER--------------------------------------*/
.navbar{
  z-index: 100;
  background-color: $mainColor;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  a{text-decoration: none;}
  .logo{
    img{
      position: absolute;
      z-index: 100;
      top: 5px;
      left: 50%;
      transform: translate(-50%);
      width: 120px;
    }
  }
  .btn-back{
    margin-left: 10px;
    padding: 4px 8px;
    color: gray;
    border-radius: 4px;
    z-index: 101;
    background-color: rgb(245, 245, 245);
    transition: all 0.1s ease-out;
    &:hover{
      /*text-decoration: none;*/
      background-color: rgb(220, 220, 220);
    }
  }
  &-auth{
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    transition: all 0.1s ease-out;

    display: flex;
    align-items: center;
    color: gray;

    &:hover{
      background-color: rgb(220, 220, 220);
    }
    svg{
      width: 20px;
      height: 20px;
      margin-left: 6px;
      fill: gray;
    }
    @media(max-width: 600px) {
      .signin-text{
        display: none;
      }
    }
  }
}

/*FOOTER--------------------------------------*/
.footer{
  background-color: rgb(222,222,222);
  color: grey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11pt;

  .footer-share{
    display: flex;
    justify-content: center;

    *{
      margin-right: 5px;
    }
  }

  .footer-name{
    a{
      color: grey;
    }
  }
}
