@import '../../../../style/colors.css';

.show-content-video{
  background-color: #000;

  iframe, &-noFrame{
    display: block;
    margin: 0 auto;

    width: 100%;
    height: 35vh;
  }
  &-noFrame{
    overflow: hidden;
  }
  &-thumbnail{
    display: block;
    margin: 0 auto;
    height: 100%;
    filter: blur(10px);
  }
  &-source{
    background-color: $secondColor;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    z-index: 5;
    position: relative;
    top: -55%;
    width: 136px;
    display: block;
    margin: 0 auto;
    &:hover{
      background-color: #ff5722;
    }
  }
}

.show-content-stats{
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 14px 0;
  background-color: white;
  box-sizing: border-box;

  font-weight: 100;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  .show-content-title{
    font-size: 16pt;
    font-weight: 100;
  }
  .show-content-source{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 11pt;

    .source{
      display: flex;
      flex-flow: column wrap;
    }
    .source-icon{
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 10px;
    }
  }
  .show-content-bottom{
    text-align: center;

    &-score{
      display: flex;
      align-items: center;
      justify-content: center;

      span{
        margin-right: 8px;
      }
      @media (max-width: 600px) {
        margin-top: 10px;
      }
    }
  }
}

.vote-arrows{
  /* TODO: Make this into another component */

  .vote-btn{
    background-color: inherit;
    height: 34px;
    border: none;

    svg{
      vertical-align: bottom;
      height: 18px;
      fill: #808080;
    }
  }
  .upvote{
    border-radius: 6px 0 0 6px;
    svg{
      transform: rotate(270deg);
    }
    &:hover{
      background-color: #f2f2f2;
    }
  }
  .downvote{
    border-radius: 0 6px 6px 0;
    svg{
      transform: rotate(90deg);
    }
    &:hover{
      background-color: #f2f2f2;
    }
  }
}

@media (min-width: 600px) {
  .show-content-video{
    iframe, &-noFrame{
      height: 70vh;
    }
  }
  .show-content-stats{
    padding: 16px 22px 0;

    .show-content-bottom{
      text-align: initial;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .vote-arrows{
        margin-top: 0;
      }
    }
  }
}
